body {
   font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
}

span.score {
   margin-right: .5em;
   color: #aaa;
}

div#linklist { 
   position: relative; 
   margin-left: 2em;
}

div#status {
   position: absolute;
   color: #aaa;
   bottom: 1em;
   left: 1em;
}

div#linklist ul li { 
   position: absolute; top: .5em; left: 0;
   transition: all 0.5s ease-out;
   padding-top: .5em;
}
 
div#linklist ul li:nth-child(1)  { transform: translate3d(0, 0%, 0); }
div#linklist ul li:nth-child(2)  { transform: translate3d(0, 100%, 0); }
div#linklist ul li:nth-child(3)  { transform: translate3d(0, 200%, 0); }
div#linklist ul li:nth-child(4)  { transform: translate3d(0, 300%, 0); }
div#linklist ul li:nth-child(5)  { transform: translate3d(0, 400%, 0); }
div#linklist ul li:nth-child(6)  { transform: translate3d(0, 500%, 0); }
div#linklist ul li:nth-child(7)  { transform: translate3d(0, 600%, 0); }
div#linklist ul li:nth-child(8)  { transform: translate3d(0, 700%, 0); }
div#linklist ul li:nth-child(9)  { transform: translate3d(0, 800%, 0); }
div#linklist ul li:nth-child(10)  { transform: translate3d(0, 900%, 0); }


li {
   text-shadow: 1px 1px 0 white;
   line-height: 22px;
}

li a {
   text-decoration: none;
   color: #07e;
}

li a:hover {
   color: #f00;
}

li a:visited {
   color: purple;
}